@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
header div {
  display: flex;
  align-items: center;
}
header div img {
  height: 2rem;
}
header div p {
  margin-left: 15px;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
}

main .hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem 3rem;
}
main .hero h1 {
  font-weight: bold;
}
main .hero .intro {
  margin: 1.5rem 0 4rem 0;
  font-size: 1.6rem;
  font-weight: 200;
}
main .hero div a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  padding: 0 0.8rem;
  display: flex;
  gap: 0.33rem;
  align-items: center;
  width: fit-content;
}

a {
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding: 3rem;
}
.cards .article-1 {
  background-image: url(./images/white-box.jpg);
  height: 40rem;
  width: 30rem;
  padding: 30px;
  font-size: 12px;
  color: white;
  background-size: cover;
  background-position: center;
}
.cards .article-1 h2 {
  margin: 4rem 0;
  padding-right: 4rem;
  text-shadow: -5px 0px 20px rgb(47, 47, 47);
}
.cards .article-1 img {
  background: white;
  border-radius: 50%;
  height: 2rem;
  padding: 5px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
}
.cards .article-1 img:hover {
  box-shadow: 0 0 0 5px rgb(255, 255, 255);
}
.cards .article-2 {
  background-image: url(./images/room.jpg);
  height: 40rem;
  width: 30rem;
  padding: 30px;
  font-size: 12px;
  color: white;
  background-size: cover;
  background-position: center;
  background-position: left center;
}
.cards .article-2 h2 {
  margin: 4rem 0;
  padding-right: 4rem;
  text-shadow: -5px 0px 20px rgb(47, 47, 47);
}
.cards .article-2 img {
  background: white;
  border-radius: 50%;
  height: 2rem;
  padding: 5px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
}
.cards .article-2 img:hover {
  box-shadow: 0 0 0 5px rgb(255, 255, 255);
}
.cards .article-3 {
  background-image: url(./images/black-white.jpg);
  height: 40rem;
  width: 30rem;
  padding: 30px;
  font-size: 12px;
  color: white;
  background-size: cover;
  background-position: center;
}
.cards .article-3 h2 {
  margin: 4rem 0;
  padding-right: 4rem;
  text-shadow: -5px 0px 20px rgb(47, 47, 47);
}
.cards .article-3 img {
  background: white;
  border-radius: 50%;
  height: 2rem;
  padding: 5px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
}
.cards .article-3 img:hover {
  box-shadow: 0 0 0 5px rgb(255, 255, 255);
}

footer {
  display: flex;
  color: gray;
  padding: 2.5rem;
  justify-content: center;
  font-size: 1.4rem;
}
